body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: black;
    font-family: monospace;
    font-size: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    height: 100vh;
    padding-left: 50px;
    box-sizing: border-box;
    text-align: left;

    transform: translateY(-5vh); /* move slightly up */
}

#name {
    margin-left: 125px;
}

hr {
    margin-left: 125px;
    margin-right: 325px;
    height: 2px;
    border: none;
    background-color: black;
}

#tagline,
#project,
#contact {
    margin-left: 125px;
}

#linkedin,
#github,
#x {
    margin-left: 125px;
    color: black;
}

footer {
    margin-left: 125px;
}

#bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2; /* you can nudge this */
}

#content {
    position: relative;
    z-index: 1;
}

#email {
    margin-left: 125px;
}
